@font-face {
          font-family:Walsheim-Bold-Oblique ;
          src: url("/fonts/GT-Walsheim-Bold-Oblique.ttf");
}

@font-face {
          font-family:Walsheim-Bold ;
          src: url("/fonts/GT-Walsheim-Bold.ttf");
}

@font-face {
          font-family:Walsheim-Light-Oblique ;
          src: url("/fonts/GT-Walsheim-Light-Oblique.ttf");
}

@font-face {
          font-family:Walsheim-Light ;
          src: url("/fonts/GT-Walsheim-Light.ttf");
}

@font-face {
          font-family:Walsheim-Regular-Oblique ;
          src: url("/fonts/GT-Walsheim-Regular-Oblique.ttf");
}

@font-face {
          font-family:Walsheim-Regular;
          src: url("/fonts/GT-Walsheim-Regular.ttf");
}

.black-text {
          color: #03051b;
}
.navbar-collapse {
          justify-content: center; 
}

#navbar-nav > li > a {
          color: #03051b;
          font-size: 16px;
          font-weight: bold;
          font-family:Walsheim-Light;
}


.cards-proceso{
          height: 350px ;
          width: 256px;
          
          
}

.container-beneficios{
          background-image: url("/images/fondo.jpg");
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: bottom;
}

.container-sumarte{
          height: 180px;
          border-radius: 64px 64px 64px 64px;
          
}



